<ion-content>
    <div class='demo'>
        <div class='circle'>
            <div class='inner'></div>
        </div>
        <div class='circle'>
            <div class='inner'></div>
        </div>
        <div class='circle'>
            <div class='inner'></div>
        </div>
        <div class='circle'>
            <div class='inner'></div>
        </div>
        <div class='circle'>
            <div class='inner'></div>
        </div>
    </div>
    <ion-fab-button
            color="dark"
            (click)="signOut()"
            routerLink="../login"
            routerDirection="forward">
        <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
</ion-content>
